:root {
    --white: hsl(0, 0%, 100%);
    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);
    --brown800: hsl(14, 45%, 36%);
    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);
}

@font-face {
    font-family: "Young Serif";
    src: url('../fonts/young-serif/YoungSerif-Regular.ttf');
    font-weight: 400;
}

body {
    margin: 0;
    background: var(--stone100);
}

.page-container {
    width: 50%;
    margin: auto;
    margin-top: 128px;
    background: var(--white);
    border-radius: 32px;
    padding: 42px;
}
.recipe-container img {
    width: 100%;
}

.main-heading {
    font-family: "Young Serif", "serif";
}

.preparation-time-container{
    margin: 0;
    background: var(--rose50);
    margin: auto;
    border-radius: 20px;
    padding: 12px;
}